body {
  margin: 0;
}

section {
  padding: 10px;
}

nav {
  padding: 10px;
  background-color: burlywood;
  color: blue;
}

nav ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 1em;
}

nav li {
  height: 1.5em;
  font-size: 1.2em;
}

#ajax-target {
  border: 1px black solid;
  min-height: 1em;
  margin-top: 10px;
  padding: 0 10px;
}